
.contact_container{
    margin-bottom: 10px;
}
.contactForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: lightblue; */
    color: whitesmoke;
    border-radius: 8px;
    margin: 10px;
}
#form1{
    margin: 20px;
    /* background-color: lightskyblue; */
    color: whitesmoke;
    border-radius: 8px;
}
#form1 *{
    margin: 5px;
    padding: 2px 4px;
}
#form1 > label{
    font-weight:600;
    border-radius: 8px;
    font-size: 20px;
}
#form1 > button{
    background-color: greenyellow;
    height: 2em;
    width: 5em;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}