.card > img{
    height: 100px;
    width: 100px;
}

.card{
    margin: 20px;
    padding: 20px;
    background-color: lightblue;
    color: #000;
    padding: 10px;
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    transition: transform 1s ease-in-out;
}
.card:hover{
    transform: scale(1.15);
}
.card *{
    margin: 4px;
    font-size: 20px;
}